* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}

:root {
    --white: hsl(0, 0%, 97%);
    --black: hsl(0, 0%, 15%);
    --gray: hsl(0, 0%, 85%);
}

body {
    background-color: hsl(0, 0%, 99%);
    display: grid;
    place-items: center;
    font: 900 1rem sans-serif;
    width: 100%;
    height: 100vh;
}

#accordion_container {
    position: relative;
    background-color: #dddddd;
    padding: 10px;
    width: 50%;
    /* border: #eee solid 2px; */
}

.accordion {
    /* margin-top: 10px; */
    border-top: black 2px solid;
    transition: height .2s ease-in;
    overflow: hidden;
    /* border: red 2px solid; */
}



.accordion:first-child {
    border: none;
}
    
.accordion_header {
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
}
.accordion_arrow {
    position: absolute;
    right: 10px;
}

.accordion_content {
    padding-bottom: 10px;
    
}

/* .accordion_content.active{
    height: 150px;
} 
*/


.accordion > hr {
    border: #cccccc solid 1px;
}



.accordion_wrapper {
    max-width: 600px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    transition: grid 0.2s ease-out;
}

.accordion_wrapper > .accordion_tab {
    background: var(--black);
    border: none;
    border-radius: 24px;
    position: relative;
}

.accordion_tab > .accordion_btn {
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    box-sizing: content-box;
}

.accordion_tab > .accordion_btn:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
}

.accordion_wrapper > .accordion_tab > .heading {
    padding: 1.5rem 3rem;
    color: var(--gray);
    width:  100%;
}

.accordion_wrapper > .accordion_tab > .body {
    padding: 1.5rem 3rem;
    background-color: var(--white);
    color: var(--black);
    width:  100%;
    border: 2px solid var(--black);
    border-radius: 24px;

}